:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --second-background-color: #2F303A;
  --first-boby-color: #F5F5F5;
  --second-body-color: #F5F4FA;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --column-gap: 30px;
  --margin-none: 0px;
  --icons-color: #AFB1B8;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  letter-spacing: 0.03em;
}

p {
  margin: var(--margin-none);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--margin-none);
}

ul,
ol {
  list-style: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
  color: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: var(--white-color);
  font-weight: 500;
  border-bottom: solid 1px #ECECEC;
}

.header__container {
  display: flex;
}

.logo__link {
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
}

.logo {
  color: var(--accent-color);
}

.logo__link--inverse {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding: 0px;
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--margin-none);
}

.navigation__item {
  margin-right: 50px;
  position: relative;
  text-align: center;
}
.navigation__item:last-child {
  margin-right: var(--margin-none);
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.navigation__link--active::after {
  content: "";
  color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin: var(--margin-none);
}

.header__contacts {
  list-style: none;
  padding-left: 0px;
  display: flex;
  padding: 0px;
  margin: var(--margin-none);
  margin-left: auto;
  color: var(--primary-text-color);
  fill: currentColor;
}

.contacts__item {
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link :focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contact__icon:hover,
.contact__icon :focus {
  fill: var(--accent-color);
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.34;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.hero__button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: var(--column-gap);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

.benefits-list {
  display: flex;
  margin: var(--margin-none);
}

.benefits__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.benefits__item:last-child {
  margin-right: var(--margin-none);
}

.benefits__icon {
  display: flex;
  justify-content: center;
  background-color: var(--second-body-color);
  margin-bottom: 30px;
  height: 120px;
  align-items: center;
}

.benefits__titles {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: var(--margin-none);
  margin-bottom: 10px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  margin: var(--margin-none);
}

.about-section {
  padding-top: 0;
}

.about-section__gallery {
  display: flex;
  margin: var(--margin-none);
  column-gap: var(--column-gap);
}

.about-section__container {
  position: relative;
}

.about-section__text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  -align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--second-body-color);
}

.team__list {
  display: flex;
  margin: var(--margin-none);
}

.team__item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__item:last-child {
  margin-right: var(--margin-none);
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__titles {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: var(--margin-none);
  margin-bottom: 10px;
  text-align: center;
}

.team__profession {
  font-size: 16px;
  line-height: 1.19;
  margin: var(--margin-none);
  text-align: center;
}

.team__contact {
  margin: var(--margin-none);
  display: flex;
  column-gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.team__link {
  text-decoration: none;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icons-color);
  fill: currentColor;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.clients__list {
  display: flex;
}

.clients__item {
  color: var(--icons-color);
  fill: currentColor;
  width: calc((100% - 150px) / 6);
  margin-right: var(--column-gap);
}
.clients__item:last-child {
  margin-right: var(--margin-none);
}

.clients__link {
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.butttons-list {
  list-style: none;
  display: flex;
  column-gap: 8px;
  padding-left: 0px;
  justify-content: center;
  margin-bottom: var(--margin-none);
  margin-top: var(--margin-none);
}

.butttons-list__button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--second-body-color);
  color: var(--title-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.butttons-list__button:hover, .butttons-list__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.butttons-list__button--active {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.products {
  margin-top: 50px;
  margin-right: calc(-1 * var(--column-gap));
  margin-bottom: calc(-1 * var(--column-gap));
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  width: calc(33.3333333333% - var(--column-gap));
  margin-right: var(--column-gap);
  margin-bottom: var(--column-gap);
}
.products__item:nth-child(3n) {
  margin-right: var(--margin-none);
}

.products__link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin: var(--margin-none);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__link:hover, .products__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products__tumb {
  position: relative;
  overflow: hidden;
}

.tumb__owerlay {
  position: absolute;
  display: flex;
  width: 100%;
  height: 294px;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__link:hover .tumb__owerlay, .products__link:focus .tumb__owerlay {
  transform: translateY(0);
}

.products__description {
  padding: 20px 24px;
  width: 370px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  color: var(--primary-text-color);
}

.description__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin: var(--margin-none);
  margin-bottom: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  color: var(--black-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.25);
}

.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: var(--margin-none);
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--black-color);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  color: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal__input {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus-within {
  fill: var(--accent-color);
}

.modal__input--margin {
  margin-bottom: 0;
}

.input__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal__input--position {
  position: relative;
}

.input__form {
  display: block;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 12px 42px;
  fill: currentColor;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input__form:hover, .input__form:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.input__form--settings-textarea {
  margin-top: 4px;
  padding-left: 16px;
  resize: none;
  width: 448px;
  height: 120px;
  color: rgba(117, 117, 117, 0.5);
}

.input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.modal__agreement {
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agreement__title {
  display: block;
  margin-left: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.checkbox__icon {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 14px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox__icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}
.checkbox:focus + .checkbox__icon {
  border-color: var(--accent-color);
}

.agreement__link {
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.agreement__link:hover {
  text-decoration: none;
}

.modal__button--send {
  width: 200px;
  height: 50px;
  padding: 0;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
  background: #188CE8;
}

.footer {
  background-color: var(--second-background-color);
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--container {
  display: flex;
  column-gap: 70px;
  align-items: baseline;
}

.address {
  font-style: normal;
  margin-top: 20px;
  padding: 0px;
}

.address__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  padding: 0px;
}

.join {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.join__contact-list {
  margin: var(--margin-none);
  display: flex;
  column-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.join__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  fill: currentColor;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
  border-radius: 50%;
}

.footer-form--container {
  margin-left: auto;
}

.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form__input--container {
  display: flex;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: var(--second-background-color);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form__button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}/*# sourceMappingURL=main.css.map */