/* :root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-background-color: #2f303a;
  --first-boby-color: #f5f5f5;
  --second-body-color: #f5f4fa;
  --white-color: #ffffff;
  --black-color: #000000;
  --column-gap: 30px;
  --margin-none: 0px;
  --icons-color: #afb1b8;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  letter-spacing: 0.03em;
} */

.header {
  background-color: var(--white-color);
  font-weight: 500;
  border-bottom: solid 1px #ececec;
}
.head {
  display: flex;
}
/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */
.link-header {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts {
  display: flex;
  padding: 0px;
  margin: var(--margin-none);
  margin-left: auto;
  color: var(--primary-text-color);
  fill: currentColor;
}

.contact + .contact {
  margin-left: 50px;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.link-header:hover,
.link-header:focus {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
  color: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.nav-list {
  margin-right: 50px;
  position: relative;
  text-align: center;
}
.nav-list:nth-child(3) {
  margin-right: 0;
}

.active-page::after {
  content: "";

  color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin: var(--margin-none);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.nav-link:active {
  color: var(--accent-color);
}
.link-logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
}

.link-logo:hover,
.link-logo:focus {
  text-decoration: none;
  color: var(--black-color);
}

.icon-header {
  margin-right: 10px;
  fill: currentColor;
}
.icon-header:hover,
.icon-header:focus {
  fill: var(--accent-color);
}
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.navigation {
  list-style: none;
  display: flex;
  padding-left: 0;
  align-items: center;
  justify-content: center;
  margin: var(--margin-none);
}
.nav-link.active-page {
  color: var(--accent-color);
}
.logo {
  color: var(--accent-color);
}
.list-style {
  list-style: none;
  padding-left: 0px;
}
.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.34;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  width: 696px;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: var(--column-gap);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}
/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

.icon {
  display: block;
}

.benefits-icon {
  display: flex;
  justify-content: center;
  background-color: var(--second-body-color);
  margin-bottom: 30px;
  height: 120px;
  align-items: center;
}
.text {
  font-size: 14px;
  line-height: 1.71;
  margin: var(--margin-none);
}
.benefits {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.benefits:nth-child(4n) {
  margin-right: 0px;
}

.first-section {
  display: flex;
  margin: var(--margin-none);
}
.about {
  padding-top: 0;
}
.photo-cards {
  display: flex;
  margin: var(--margin-none);
  column-gap: var(--column-gap);
}
.images-about {
  position: relative;
}
.text-about {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  -align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.backgrond {
  background-color: var(--second-body-color);
}
.titles-team {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: var(--margin-none);
  margin-bottom: 10px;

  text-align: center;
}
.teams-card {
  display: flex;
  margin: var(--margin-none);
}
.team-contact {
  margin: var(--margin-none);
  display: flex;
  column-gap: 10px;
  justify-content: center;
  fill: currentColor;
  margin-top: 10px;
}

.svg-team {
  fill: currentColor;
}

.team-link {
  text-decoration: none;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icons-color);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover,
.team-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.team-elements {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-elements:nth-child(4) {
  margin-right: var(--margin-none);
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  margin: var(--margin-none);

  text-align: center;
}
.internal {
  padding-top: 30px;
  padding-bottom: 30px;
}
.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin: var(--margin-none);
  margin-bottom: 50px;

  text-align: center;
}
.titles {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: var(--margin-none);
  margin-bottom: 10px;
}

.client {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.icon-client {
  color: var(--icons-color);
  fill: currentColor;
  width: calc((100% - 150px) / 6);
  margin-right: var(--column-gap);
}

.icon-client:nth-child(6n) {
  margin-right: 0px;
}

.icon-clients {
  fill: currentColor;
}
.link-client:hover,
.link-client:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.link-client {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-client {
  display: flex;
}
.footer {
  background-color: var(--second-background-color);
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  padding-top: 60px;
  padding-bottom: 60px;
}
.mailto-link,
.tel-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  padding: 0px;
}
.address {
  font-style: normal;
  margin-top: 20px;
  padding: 0px;
}
.footer-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding: 0px;
}
.footer-link:hover,
.footer-link:focus {
  text-decoration: none;
  color: var(--white-color);
}

.address-link:hover,
.address-link:focus {
  text-decoration: none;
  color: var(--white-color);
}

.footer-styles {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-links:not(:last-child) {
  margin-bottom: 9px;
}

.join-in {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.join-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: var(--white-color);
}

.join-contact {
  margin: var(--margin-none);
  display: flex;
  column-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.style-footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* start */

.input-footer {
  display: flex;
}
.title-form-footer {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-form {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: var(--second-background-color);
  color: rgba(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form::placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);}

.footer-button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}

/* fin */
.portfolio-link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin: var(--margin-none);
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-tumb {
  position: relative;
  overflow: hidden;
}
.owerlay {
  position: absolute;
  display: flex;
  width: 100%;
  height: 294px;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  top: 0;
  left: 0;
  transform: translateY(100%);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .owerlay,
.portfolio-link:focus .owerlay {
  transform: translateY(0);
}

.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin: var(--margin-none);
  margin-bottom: 4px;
}

.li-butttons + .li-butttons {
  margin-left: 8px;
}

.button-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--second-body-color);
  color: var(--title-text-color);
  cursor: pointer;

  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-style-portfolio {
  list-style: none;

  display: flex;
  padding-left: 0px;
  justify-content: center;
  margin-bottom: var(--margin-none);
  margin-top: var(--margin-none);
}

.cards-product {
  padding: 20px 24px;
  width: 370px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.products {
  margin-top: 50px;
  margin-right: calc(-1 * var(--column-gap));
  margin-bottom: calc(-1 * var(--column-gap));
  display: flex;
  flex-wrap: wrap;
}

.net {
  width: calc(100% / 3 - var(--column-gap));
  margin-right: var(--column-gap);
  margin-bottom: var(--column-gap);
}

.net:nth-child(3n) {
  margin-right: var(--margin-none);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.25);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 528px;
  min-height: 581px;
  background: #ffffff;
  color: var(--black-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-button {
  position: absolute;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: var(--margin-none);
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--black-color);
  fill: currentColor;
}

/* start2 */
.modal-title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.input-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal-form {
  display: block;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 12px 42px;
  fill: currentColor;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal-form:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.input-modal:hover,
.input-modal:focus-within {
  fill: var(--accent-color);
}

.comment {
  margin-top: 4px;
  padding-left: 16px;
  resize: none;
  width: 100%;
  height: 120px;
  color: rgba(117, 117, 117, 0.5);
}
.fornm-comment {
  margin-bottom: 20px;
}
.send-button {
  width: 200px;
  height: 50px;
  padding: 0;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover,
.send-button:focus {
  background: #188ce8;
}
.title-checkbox {
  display: block;
  margin-left: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}
.checkbox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.modal-link:hover {
  text-decoration: none;
}
.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 14px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-item:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}
.checkbox-item:focus + .checkbox-icon {
  border-color: var(--accent-color);
}
.position {
  position: relative;
}
.label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
/* fin2 */
