.header {
  background-color: var(--white-color);
  font-weight: 500;
  border-bottom: solid 1px #ececec;
}
.head {
  display: flex;
}
.link-header {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-header:hover,
.link-header:focus {
  color: var(--accent-color);
}
.header-contacts {
  display: flex;
  padding: 0px;
  margin: var(--margin-none);
  margin-left: auto;
  color: var(--primary-text-color);
  fill: currentColor;
}
.icon-header {
  margin-right: 10px;
  fill: currentColor;
}
.icon-header:hover,
.icon-header:focus {
  fill: var(--accent-color);
}
.contact {
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.contact + .contact {
  margin-left: 50px;
}
.active-page::after {
  content: "";
  color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin: var(--margin-none);
}
.logo {
  color: var(--accent-color);
}