:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --second-background-color: #2F303A;
    --first-boby-color: #F5F5F5;
    --second-body-color: #F5F4FA;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --column-gap: 30px;
    --margin-none: 0px;
    --icons-color: #AFB1B8;
}